<!--<mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Responsive side navigation
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
      />
  
      <h4 class="name">John Smith</h4>
      <p class="designation">Software Engineer</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-button class="menu-button" routerLink="/about">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/help">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">

         coding-->

        <nav class="navbar navbar-light bg-primary">
            <div class="container-fluid">
                
        </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="card">
                        <div class="text-centre">
                            <h1 style="color:rgb(212, 31, 31)">EMPLOYEE PERSONAL DETAILS</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup] = "employeeFormGroup">
            <label for="employeename">Employee Name</label>
            <input placeholder="employeename" formControlName="employee_name" type="text"/><br><br>
            <label for="employeeage">Age</label>
            <input placeholder="employeeage" formControlName="employee_age" type="number"/><br><br>
            <label for="designation">Designation</label>
            <input placeholder="designation" formControlName="designation" type="text"/><br><br>
            <label for="email">Email ID</label>
            <input placeholder="email" formControlName="email" type="email"/> <br><br>
            <label for="dob">Date Of Birth</label>
            <input placeholder="dob" formControlName="dob" type="date"/><br><br>
            <input name="button" class="custom_button" type="button" value="Save"(click)="saveAction()"/>
            <input name="button" class="custom_button" type="button" value="Fetch"(click)="fetchAction()"/>
            <input name="button" class="custom_button" type="button" value="Reset" (click)="resetAction()" /> 
        </form>
        
        
        <div class="line">
            <a style="color: rgb(52, 52, 224);margin-top: 10px;"></a>
        </div>
        <table mat-table [dataSource]="this.student.dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="Personal Details">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; color: blue; font-size: larger;">Employee Personal Details</th>
                <td mat-cell *matCellDef="let employee" style="text-align: center; font-size:medium;">
                    <div style="font-weight: 1000;">
                        {{employee['employee_name']| uppercase}}
                    </div>

                    <!--<ng-container matColumnDef="Employee Age">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Age</th>
                        <td mat-cell *matCellDef="let employee" style="text-align: center;">
                            <div style="font-weight: 200;">
                                {{employee['employee_age']}}
                            </div>

                            <ng-container matColumnDef="Designation">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Designation</th>
                                <td mat-cell *matCellDef="let employee" style="text-align: center;">
                                    <div style="font-weight: 200;">
                                        {{employee['designation']}}
                                    </div>-->
                                    <!--<ng-container matColumnDef="employee_age">
                                      <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
                                      <mat-cell class="employee_age-cell"
                                                *matCellDef="let employee">{{employee.employee_age}}</mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="designation">
                                    <mat-header-cell *matHeaderCellDef>Designation</mat-header-cell>
                                    <mat-cell class="designation-cell"
                                              *matCellDef="let employee">{{employee.designation}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                  <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                                  <mat-cell class="email-cell"
                                            *matCellDef="let employee">{{employee.email}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="dob">
                                <mat-header-cell *matHeaderCellDef>DOB</mat-header-cell>
                                <mat-cell class="dob-cell"
                                          *matCellDef="let employee">{{employee.dob}}</mat-cell>
                            </ng-container>-->

                    
                    {{employee['employee_age']}}<br/>
                    {{employee['designation']}}<br/>
                    {{employee['email']}}<br/>
                    {{employee['dob']}}
                    
        
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let employee; columns:displayedColumns;"></tr>
            
        </table>
        <!-- nav bar coding
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>-->
<div class="list_item" *ngFor="let employee of student.employee1">
  <h3 class="employee_name">{{employee['employee_name']}}<span class="employee_record_id">({{employee['_id']}})</span>
  </h3>
  <h4 class="employee_age">{{employee['employee_age']}}</h4>
  <h4 class="designation">{{employee['designation']}}</h4>
  <h4 class="email">{{employee['email']}}</h4>
  <h4 class="dob">{{employee['dob']}}</h4>
  <button class="custom_button edit_button_color" (click)="editAction(employee)">Edit</button>
  <button class="custom_button delete_button_color" (click)="deleteAction(employee)">Delete</button>
  
</div>